<html ng-app="myApp">
	<head>
		<script src="./jquery.js" type="text/javascript"></script>
		<script src="./angular.js" type="text/javascript"></script>
		<script src="./route.js"></script>
		<script src="./fun.js" type="text/javascript"></script>

		
	</head>

	<body >
	<div ng-controller="bodyController">
		<input type="text" ng-model="searchTerm">
		
		<ul>
		<li ng-repeat="(country,data) in countryData |objectFilter:searchTerm"> <a href="#/country/{{country}}">{{country}} </a> </li>
		</ul>
	</div>
	<div ng-view> </div>
	</body>

<html>