<html ng-app = "myApp">
    <head>
        <script src="./angular.js"> </script>
        <script src="./fun.js"></script>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
        </style>
    </head>

    <body ng-controller="formController">
        USER <input type="text" name ="user" ng-model="user"><br>
        ID<input type="text" ng-model="id"><br>
        <button type="button" ng-click="get()"> GET </button>
        <button type="button" ng-click="del()"> DEL </button> 

       <hr>

        LANG<input type="text" ng-model="lang"> <br>
        <textarea rows="4" cols="50" ng-model="code"> </textarea><br>

        <button type="button" ng-click="add()"> ADD      </button>
        <button type="Modify" ng-click="add(true)" > MODIFY   </button>

        <hr>

        <table ng-repeat="(key,value) in displayData">
            <tr> 
                <td> {{key}} </td> <td> {{value}} </td>
            </tr>
        </table>


    </body>
</html>