<html>

<head>
 	<script src="./jquery.js"> </script>
 	<script src="./handlebar.js" ></script>
 	<script src="./fun.js"></script>

 	<script id="Form" type="text/x-handlebars-template">
 		<form class='form'>
 				{{#each inputs}}
 					<label> {{name}} </label>
 					<input type={{type}} name={{name}} > <br>
 				{{/each}}
 				
 		</form>
 		<button onclick="add()"> Add </button>
 		<button disabled class='modify'> Modify</button>

 		<table class='table'>
 			<tr>
 			{{#each inputs}}
 				<th>{{name}}</th>
 			{{/each}}
 			</tr>


 		</table>
 	</script>

 	<script id="Tabledata" type="text/x-handlebars-template">
 		<tr>
 		{{#each data}}
 			<td>{{this}}</td>
 		{{/each}}

 		<td> <button class="edit" objId={{id}} > Edit</button> </td>
 		<td> <button class="delete" objId={{id}} > Delete </button> </td>
 		</tr>
 	</script>
</head>

<body>
	<select>
		 <option></option>
		 <option value="student">student </option>
		 <option value="employee"> Employee</option>
	</select>
	<div id="render"> </div>
</body> 