<head>
<script src="./fun.js" > </script>
<script src="./jquery.js"> </script>


</head>
<body>

	
	<select>
		 <option></option>
		 <option value="student">student </option>
		 <option value="employee"> Employee</option>
	</select>
	<div id="student">
     	<form id="sform" >
 			
     	</form>
     	<button onclick = "add()"> Add </button>
 
     <button name="modify" onclick="saveChanges()" disabled> Modify </button>
     <table id="stable">

     </table>
	</div>

	<div id="employee">
		<form id="eform">

		</form>

		<button onclick = "add()"> Add </button>
 
     	<button name="modify" onclick="saveChanges()" disabled> Modify </button>
     	<table id="etable">

     </table>

	</div>
</body>